<div style="padding: 1em;">
    <p>Jak proste jest pobranie danych z innego banku?</p>
    <p>Mozesz pobrać własne dane z dowolnego(?) banku.</p>
    <p>Jesli nie chcesz spróbować własnych danych to działa testowy mbank</p>
    <ul>
        <li>identyfikator = test</li>
        <li>haslo = Test123</li>
        <li>hasło sms = Test123</li>
    </ul>
    <br/>
    <p>To tylko prototyp.</p>
    <p>Pobiera dane od 2020-10-01.</p>
    <p>Pobieranie moze trwać od kilku sekund do kilku minut.</p>
    <p>Działa tylko ściezka pozytywna. Nie ma obsługi błedów ALE praca zajęła kilka godzin. Głównie dotyczyła uruchomienia aplikacji. Podłączenie do Kontomatika moze 1 godzinę.</p>

    <p><a href="https://github.com/pawelfree/aismvp">Git repo</a></p>

    <button mat-raised-button color="primary" routerLink="/kontomatik" >Dalej</button>
</div>