:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 1000px;
  margin: 25px auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #C43C2C;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
